* {
  margin: 0;
}

.burger-menu {
  cursor: pointer;
}

.burger-menu img {
  position: relative;
  left: 10px;
  top: 3px;
}

.menu {
  width: 214px;
  height: auto;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 65px;
  margin-left: 2px;
  box-shadow: 1px 1px 5px 2px gray;
  border-radius: 5px;
}

/* slide bar manager */

.hidden {
  display: none;
}

/* ---------------- */

.navUl {
  list-style-type: none;
  padding-left: 15px;
  padding-bottom: 15px;
}

.navUl li {
  padding-top: 15px;
}